=begin
#The Blue Alliance API v3

## Overview    Information and statistics about FIRST Robotics Competition teams and events.   # Authentication   All endpoints require an Auth Key to be passed in the header `X-TBA-Auth-Key`. If you do not have an auth key yet, you can obtain one from your [Account Page](/account).    A `User-Agent` header may need to be set to prevent a 403 Unauthorized error.

OpenAPI spec version: 3.03.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module SwaggerClient
  class TeamApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Gets a list of team district rankings for the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<DistrictRanking>]
    def get_district_rankings(district_key, opts = {})
      data, _status_code, _headers = get_district_rankings_with_http_info(district_key, opts)
      return data
    end

    # 
    # Gets a list of team district rankings for the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<DistrictRanking>, Fixnum, Hash)>] Array<DistrictRanking> data, response status code and response headers
    def get_district_rankings_with_http_info(district_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_district_rankings ..."
      end
      # verify the required parameter 'district_key' is set
      if @api_client.config.client_side_validation && district_key.nil?
        fail ArgumentError, "Missing the required parameter 'district_key' when calling TeamApi.get_district_rankings"
      end
      # resource path
      local_var_path = "/district/{district_key}/rankings".sub('{' + 'district_key' + '}', district_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<DistrictRanking>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_district_rankings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of `Team` objects that competed in events in the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Team>]
    def get_district_teams(district_key, opts = {})
      data, _status_code, _headers = get_district_teams_with_http_info(district_key, opts)
      return data
    end

    # 
    # Gets a list of &#x60;Team&#x60; objects that competed in events in the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Team>, Fixnum, Hash)>] Array<Team> data, response status code and response headers
    def get_district_teams_with_http_info(district_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_district_teams ..."
      end
      # verify the required parameter 'district_key' is set
      if @api_client.config.client_side_validation && district_key.nil?
        fail ArgumentError, "Missing the required parameter 'district_key' when calling TeamApi.get_district_teams"
      end
      # resource path
      local_var_path = "/district/{district_key}/teams".sub('{' + 'district_key' + '}', district_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Team>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_district_teams\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of `Team` objects that competed in events in the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<String>]
    def get_district_teams_keys(district_key, opts = {})
      data, _status_code, _headers = get_district_teams_keys_with_http_info(district_key, opts)
      return data
    end

    # 
    # Gets a list of &#x60;Team&#x60; objects that competed in events in the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_district_teams_keys_with_http_info(district_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_district_teams_keys ..."
      end
      # verify the required parameter 'district_key' is set
      if @api_client.config.client_side_validation && district_key.nil?
        fail ArgumentError, "Missing the required parameter 'district_key' when calling TeamApi.get_district_teams_keys"
      end
      # resource path
      local_var_path = "/district/{district_key}/teams/keys".sub('{' + 'district_key' + '}', district_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_district_teams_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a short-form list of `Team` objects that competed in events in the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<TeamSimple>]
    def get_district_teams_simple(district_key, opts = {})
      data, _status_code, _headers = get_district_teams_simple_with_http_info(district_key, opts)
      return data
    end

    # 
    # Gets a short-form list of &#x60;Team&#x60; objects that competed in events in the given district.
    # @param district_key TBA District Key, eg &#x60;2016fim&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<TeamSimple>, Fixnum, Hash)>] Array<TeamSimple> data, response status code and response headers
    def get_district_teams_simple_with_http_info(district_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_district_teams_simple ..."
      end
      # verify the required parameter 'district_key' is set
      if @api_client.config.client_side_validation && district_key.nil?
        fail ArgumentError, "Missing the required parameter 'district_key' when calling TeamApi.get_district_teams_simple"
      end
      # resource path
      local_var_path = "/district/{district_key}/teams/simple".sub('{' + 'district_key' + '}', district_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<TeamSimple>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_district_teams_simple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of `Team` objects that competed in the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Team>]
    def get_event_teams(event_key, opts = {})
      data, _status_code, _headers = get_event_teams_with_http_info(event_key, opts)
      return data
    end

    # 
    # Gets a list of &#x60;Team&#x60; objects that competed in the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Team>, Fixnum, Hash)>] Array<Team> data, response status code and response headers
    def get_event_teams_with_http_info(event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_event_teams ..."
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_event_teams"
      end
      # resource path
      local_var_path = "/event/{event_key}/teams".sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Team>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_event_teams\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of `Team` keys that competed in the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<String>]
    def get_event_teams_keys(event_key, opts = {})
      data, _status_code, _headers = get_event_teams_keys_with_http_info(event_key, opts)
      return data
    end

    # 
    # Gets a list of &#x60;Team&#x60; keys that competed in the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_event_teams_keys_with_http_info(event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_event_teams_keys ..."
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_event_teams_keys"
      end
      # resource path
      local_var_path = "/event/{event_key}/teams/keys".sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_event_teams_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a short-form list of `Team` objects that competed in the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<TeamSimple>]
    def get_event_teams_simple(event_key, opts = {})
      data, _status_code, _headers = get_event_teams_simple_with_http_info(event_key, opts)
      return data
    end

    # 
    # Gets a short-form list of &#x60;Team&#x60; objects that competed in the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<TeamSimple>, Fixnum, Hash)>] Array<TeamSimple> data, response status code and response headers
    def get_event_teams_simple_with_http_info(event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_event_teams_simple ..."
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_event_teams_simple"
      end
      # resource path
      local_var_path = "/event/{event_key}/teams/simple".sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<TeamSimple>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_event_teams_simple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a key-value list of the event statuses for teams competing at the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Hash<String, TeamEventStatus>]
    def get_event_teams_statuses(event_key, opts = {})
      data, _status_code, _headers = get_event_teams_statuses_with_http_info(event_key, opts)
      return data
    end

    # 
    # Gets a key-value list of the event statuses for teams competing at the given event.
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Hash<String, TeamEventStatus>, Fixnum, Hash)>] Hash<String, TeamEventStatus> data, response status code and response headers
    def get_event_teams_statuses_with_http_info(event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_event_teams_statuses ..."
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_event_teams_statuses"
      end
      # resource path
      local_var_path = "/event/{event_key}/teams/statuses".sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Hash<String, TeamEventStatus>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_event_teams_statuses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a `Team` object for the team referenced by the given key.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Team]
    def get_team(team_key, opts = {})
      data, _status_code, _headers = get_team_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a &#x60;Team&#x60; object for the team referenced by the given key.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Team, Fixnum, Hash)>] Team data, response status code and response headers
    def get_team_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team"
      end
      # resource path
      local_var_path = "/team/{team_key}".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Team')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of awards the given team has won.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Award>]
    def get_team_awards(team_key, opts = {})
      data, _status_code, _headers = get_team_awards_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a list of awards the given team has won.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Award>, Fixnum, Hash)>] Array<Award> data, response status code and response headers
    def get_team_awards_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_awards ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_awards"
      end
      # resource path
      local_var_path = "/team/{team_key}/awards".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Award>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_awards\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of awards the given team has won in a given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Award>]
    def get_team_awards_by_year(team_key, year, opts = {})
      data, _status_code, _headers = get_team_awards_by_year_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a list of awards the given team has won in a given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Award>, Fixnum, Hash)>] Array<Award> data, response status code and response headers
    def get_team_awards_by_year_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_awards_by_year ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_awards_by_year"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_awards_by_year"
      end
      # resource path
      local_var_path = "/team/{team_key}/awards/{year}".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Award>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_awards_by_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets an array of districts representing each year the team was in a district. Will return an empty array if the team was never in a district.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<DistrictList>]
    def get_team_districts(team_key, opts = {})
      data, _status_code, _headers = get_team_districts_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets an array of districts representing each year the team was in a district. Will return an empty array if the team was never in a district.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<DistrictList>, Fixnum, Hash)>] Array<DistrictList> data, response status code and response headers
    def get_team_districts_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_districts ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_districts"
      end
      # resource path
      local_var_path = "/team/{team_key}/districts".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<DistrictList>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_districts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of awards the given team won at the given event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Award>]
    def get_team_event_awards(team_key, event_key, opts = {})
      data, _status_code, _headers = get_team_event_awards_with_http_info(team_key, event_key, opts)
      return data
    end

    # 
    # Gets a list of awards the given team won at the given event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Award>, Fixnum, Hash)>] Array<Award> data, response status code and response headers
    def get_team_event_awards_with_http_info(team_key, event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_event_awards ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_event_awards"
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_team_event_awards"
      end
      # resource path
      local_var_path = "/team/{team_key}/event/{event_key}/awards".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Award>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_event_awards\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of matches for the given team and event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Match>]
    def get_team_event_matches(team_key, event_key, opts = {})
      data, _status_code, _headers = get_team_event_matches_with_http_info(team_key, event_key, opts)
      return data
    end

    # 
    # Gets a list of matches for the given team and event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Match>, Fixnum, Hash)>] Array<Match> data, response status code and response headers
    def get_team_event_matches_with_http_info(team_key, event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_event_matches ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_event_matches"
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_team_event_matches"
      end
      # resource path
      local_var_path = "/team/{team_key}/event/{event_key}/matches".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Match>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_event_matches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of match keys for matches for the given team and event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<String>]
    def get_team_event_matches_keys(team_key, event_key, opts = {})
      data, _status_code, _headers = get_team_event_matches_keys_with_http_info(team_key, event_key, opts)
      return data
    end

    # 
    # Gets a list of match keys for matches for the given team and event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_team_event_matches_keys_with_http_info(team_key, event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_event_matches_keys ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_event_matches_keys"
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_team_event_matches_keys"
      end
      # resource path
      local_var_path = "/team/{team_key}/event/{event_key}/matches/keys".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_event_matches_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a short-form list of matches for the given team and event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Match>]
    def get_team_event_matches_simple(team_key, event_key, opts = {})
      data, _status_code, _headers = get_team_event_matches_simple_with_http_info(team_key, event_key, opts)
      return data
    end

    # 
    # Gets a short-form list of matches for the given team and event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Match>, Fixnum, Hash)>] Array<Match> data, response status code and response headers
    def get_team_event_matches_simple_with_http_info(team_key, event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_event_matches_simple ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_event_matches_simple"
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_team_event_matches_simple"
      end
      # resource path
      local_var_path = "/team/{team_key}/event/{event_key}/matches/simple".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Match>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_event_matches_simple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets the competition rank and status of the team at the given event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [TeamEventStatus]
    def get_team_event_status(team_key, event_key, opts = {})
      data, _status_code, _headers = get_team_event_status_with_http_info(team_key, event_key, opts)
      return data
    end

    # 
    # Gets the competition rank and status of the team at the given event.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param event_key TBA Event Key, eg &#x60;2016nytr&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(TeamEventStatus, Fixnum, Hash)>] TeamEventStatus data, response status code and response headers
    def get_team_event_status_with_http_info(team_key, event_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_event_status ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_event_status"
      end
      # verify the required parameter 'event_key' is set
      if @api_client.config.client_side_validation && event_key.nil?
        fail ArgumentError, "Missing the required parameter 'event_key' when calling TeamApi.get_team_event_status"
      end
      # resource path
      local_var_path = "/team/{team_key}/event/{event_key}/status".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'event_key' + '}', event_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TeamEventStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_event_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of all events this team has competed at.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Event>]
    def get_team_events(team_key, opts = {})
      data, _status_code, _headers = get_team_events_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a list of all events this team has competed at.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Event>, Fixnum, Hash)>] Array<Event> data, response status code and response headers
    def get_team_events_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_events ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_events"
      end
      # resource path
      local_var_path = "/team/{team_key}/events".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Event>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Event>]
    def get_team_events_by_year(team_key, year, opts = {})
      data, _status_code, _headers = get_team_events_by_year_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a list of events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Event>, Fixnum, Hash)>] Array<Event> data, response status code and response headers
    def get_team_events_by_year_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_events_by_year ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_events_by_year"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_events_by_year"
      end
      # resource path
      local_var_path = "/team/{team_key}/events/{year}".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Event>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_events_by_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of the event keys for events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<String>]
    def get_team_events_by_year_keys(team_key, year, opts = {})
      data, _status_code, _headers = get_team_events_by_year_keys_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a list of the event keys for events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_team_events_by_year_keys_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_events_by_year_keys ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_events_by_year_keys"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_events_by_year_keys"
      end
      # resource path
      local_var_path = "/team/{team_key}/events/{year}/keys".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_events_by_year_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a short-form list of events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<EventSimple>]
    def get_team_events_by_year_simple(team_key, year, opts = {})
      data, _status_code, _headers = get_team_events_by_year_simple_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a short-form list of events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<EventSimple>, Fixnum, Hash)>] Array<EventSimple> data, response status code and response headers
    def get_team_events_by_year_simple_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_events_by_year_simple ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_events_by_year_simple"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_events_by_year_simple"
      end
      # resource path
      local_var_path = "/team/{team_key}/events/{year}/simple".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<EventSimple>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_events_by_year_simple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of the event keys for all events this team has competed at.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<String>]
    def get_team_events_keys(team_key, opts = {})
      data, _status_code, _headers = get_team_events_keys_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a list of the event keys for all events this team has competed at.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_team_events_keys_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_events_keys ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_events_keys"
      end
      # resource path
      local_var_path = "/team/{team_key}/events/keys".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_events_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a short-form list of all events this team has competed at.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<EventSimple>]
    def get_team_events_simple(team_key, opts = {})
      data, _status_code, _headers = get_team_events_simple_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a short-form list of all events this team has competed at.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<EventSimple>, Fixnum, Hash)>] Array<EventSimple> data, response status code and response headers
    def get_team_events_simple_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_events_simple ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_events_simple"
      end
      # resource path
      local_var_path = "/team/{team_key}/events/simple".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<EventSimple>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_events_simple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a key-value list of the event statuses for events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Hash<String, TeamEventStatus>]
    def get_team_events_statuses_by_year(team_key, year, opts = {})
      data, _status_code, _headers = get_team_events_statuses_by_year_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a key-value list of the event statuses for events this team has competed at in the given year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Hash<String, TeamEventStatus>, Fixnum, Hash)>] Hash<String, TeamEventStatus> data, response status code and response headers
    def get_team_events_statuses_by_year_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_events_statuses_by_year ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_events_statuses_by_year"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_events_statuses_by_year"
      end
      # resource path
      local_var_path = "/team/{team_key}/events/{year}/statuses".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Hash<String, TeamEventStatus>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_events_statuses_by_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of matches for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Match>]
    def get_team_matches_by_year(team_key, year, opts = {})
      data, _status_code, _headers = get_team_matches_by_year_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a list of matches for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Match>, Fixnum, Hash)>] Array<Match> data, response status code and response headers
    def get_team_matches_by_year_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_matches_by_year ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_matches_by_year"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_matches_by_year"
      end
      # resource path
      local_var_path = "/team/{team_key}/matches/{year}".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Match>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_matches_by_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of match keys for matches for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<String>]
    def get_team_matches_by_year_keys(team_key, year, opts = {})
      data, _status_code, _headers = get_team_matches_by_year_keys_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a list of match keys for matches for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def get_team_matches_by_year_keys_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_matches_by_year_keys ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_matches_by_year_keys"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_matches_by_year_keys"
      end
      # resource path
      local_var_path = "/team/{team_key}/matches/{year}/keys".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_matches_by_year_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a short-form list of matches for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<MatchSimple>]
    def get_team_matches_by_year_simple(team_key, year, opts = {})
      data, _status_code, _headers = get_team_matches_by_year_simple_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a short-form list of matches for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<MatchSimple>, Fixnum, Hash)>] Array<MatchSimple> data, response status code and response headers
    def get_team_matches_by_year_simple_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_matches_by_year_simple ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_matches_by_year_simple"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_matches_by_year_simple"
      end
      # resource path
      local_var_path = "/team/{team_key}/matches/{year}/simple".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<MatchSimple>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_matches_by_year_simple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of Media (videos / pictures) for the given team and tag.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param media_tag Media Tag which describes the Media.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Media>]
    def get_team_media_by_tag(team_key, media_tag, opts = {})
      data, _status_code, _headers = get_team_media_by_tag_with_http_info(team_key, media_tag, opts)
      return data
    end

    # 
    # Gets a list of Media (videos / pictures) for the given team and tag.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param media_tag Media Tag which describes the Media.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Media>, Fixnum, Hash)>] Array<Media> data, response status code and response headers
    def get_team_media_by_tag_with_http_info(team_key, media_tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_media_by_tag ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_media_by_tag"
      end
      # verify the required parameter 'media_tag' is set
      if @api_client.config.client_side_validation && media_tag.nil?
        fail ArgumentError, "Missing the required parameter 'media_tag' when calling TeamApi.get_team_media_by_tag"
      end
      # resource path
      local_var_path = "/team/{team_key}/media/tag/{media_tag}".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'media_tag' + '}', media_tag.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Media>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_media_by_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of Media (videos / pictures) for the given team, tag and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param media_tag Media Tag which describes the Media.
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Media>]
    def get_team_media_by_tag_year(team_key, media_tag, year, opts = {})
      data, _status_code, _headers = get_team_media_by_tag_year_with_http_info(team_key, media_tag, year, opts)
      return data
    end

    # 
    # Gets a list of Media (videos / pictures) for the given team, tag and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param media_tag Media Tag which describes the Media.
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Media>, Fixnum, Hash)>] Array<Media> data, response status code and response headers
    def get_team_media_by_tag_year_with_http_info(team_key, media_tag, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_media_by_tag_year ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_media_by_tag_year"
      end
      # verify the required parameter 'media_tag' is set
      if @api_client.config.client_side_validation && media_tag.nil?
        fail ArgumentError, "Missing the required parameter 'media_tag' when calling TeamApi.get_team_media_by_tag_year"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_media_by_tag_year"
      end
      # resource path
      local_var_path = "/team/{team_key}/media/tag/{media_tag}/{year}".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'media_tag' + '}', media_tag.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Media>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_media_by_tag_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of Media (videos / pictures) for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Media>]
    def get_team_media_by_year(team_key, year, opts = {})
      data, _status_code, _headers = get_team_media_by_year_with_http_info(team_key, year, opts)
      return data
    end

    # 
    # Gets a list of Media (videos / pictures) for the given team and year.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Media>, Fixnum, Hash)>] Array<Media> data, response status code and response headers
    def get_team_media_by_year_with_http_info(team_key, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_media_by_year ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_media_by_year"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling TeamApi.get_team_media_by_year"
      end
      # resource path
      local_var_path = "/team/{team_key}/media/{year}".sub('{' + 'team_key' + '}', team_key.to_s).sub('{' + 'year' + '}', year.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Media>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_media_by_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of year and robot name pairs for each year that a robot name was provided. Will return an empty array if the team has never named a robot.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<TeamRobot>]
    def get_team_robots(team_key, opts = {})
      data, _status_code, _headers = get_team_robots_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a list of year and robot name pairs for each year that a robot name was provided. Will return an empty array if the team has never named a robot.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<TeamRobot>, Fixnum, Hash)>] Array<TeamRobot> data, response status code and response headers
    def get_team_robots_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_robots ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_robots"
      end
      # resource path
      local_var_path = "/team/{team_key}/robots".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<TeamRobot>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_robots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a `Team_Simple` object for the team referenced by the given key.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [TeamSimple]
    def get_team_simple(team_key, opts = {})
      data, _status_code, _headers = get_team_simple_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a &#x60;Team_Simple&#x60; object for the team referenced by the given key.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(TeamSimple, Fixnum, Hash)>] TeamSimple data, response status code and response headers
    def get_team_simple_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_simple ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_simple"
      end
      # resource path
      local_var_path = "/team/{team_key}/simple".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TeamSimple')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_simple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of Media (social media) for the given team.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Media>]
    def get_team_social_media(team_key, opts = {})
      data, _status_code, _headers = get_team_social_media_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a list of Media (social media) for the given team.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Media>, Fixnum, Hash)>] Array<Media> data, response status code and response headers
    def get_team_social_media_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_social_media ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_social_media"
      end
      # resource path
      local_var_path = "/team/{team_key}/social_media".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Media>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_social_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of years in which the team participated in at least one competition.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Integer>]
    def get_team_years_participated(team_key, opts = {})
      data, _status_code, _headers = get_team_years_participated_with_http_info(team_key, opts)
      return data
    end

    # 
    # Gets a list of years in which the team participated in at least one competition.
    # @param team_key TBA Team Key, eg &#x60;frc254&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Integer>, Fixnum, Hash)>] Array<Integer> data, response status code and response headers
    def get_team_years_participated_with_http_info(team_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_team_years_participated ..."
      end
      # verify the required parameter 'team_key' is set
      if @api_client.config.client_side_validation && team_key.nil?
        fail ArgumentError, "Missing the required parameter 'team_key' when calling TeamApi.get_team_years_participated"
      end
      # resource path
      local_var_path = "/team/{team_key}/years_participated".sub('{' + 'team_key' + '}', team_key.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Integer>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_team_years_participated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of `Team` objects, paginated in groups of 500.
    # @param page_num Page number of results to return, zero-indexed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Team>]
    def get_teams(page_num, opts = {})
      data, _status_code, _headers = get_teams_with_http_info(page_num, opts)
      return data
    end

    # 
    # Gets a list of &#x60;Team&#x60; objects, paginated in groups of 500.
    # @param page_num Page number of results to return, zero-indexed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<(Array<Team>, Fixnum, Hash)>] Array<Team> data, response status code and response headers
    def get_teams_with_http_info(page_num, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TeamApi.get_teams ..."
      end
      # verify the required parameter 'page_num' is set
      if @api_client.config.client_side_validation && page_num.nil?
        fail ArgumentError, "Missing the required parameter 'page_num' when calling TeamApi.get_teams"
      end
      # resource path
      local_var_path = "/teams/{page_num}".sub('{' + 'page_num' + '}', page_num.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Modified-Since'] = opts[:'if_modified_since'] if !opts[:'if_modified_since'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Team>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamApi#get_teams\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Gets a list of `Team` objects that competed in the given year, paginated in groups of 500.
    # @param year Competition Year (or Season). Must be 4 digits.
    # @param page_num Page number of results to return, zero-indexed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_modified_since Value of the &#x60;Last-Modified&#x60; header in the most recently cached response by the client.
    # @return [Array<Team>]
    def get_teams_by_year(year, page_num, opts = {})
      data, _status_code, _headers = get_teams_by_year_with_http_info(year, page_num, opts)
      return data
    end

    # 
    # Gets a list of &#x60;Team&#x60; objects that competed in the given year, paginated in groups of 500.
[...]
